@import 'tailwindcss';
@plugin '@iconify/tailwind4';

@theme {
  --font-plex: 'IBM Plex Mono', monospace;

  --color-background: var(--background);
  --color-background-hover: var(--background-hover);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);

  --color-card-background: var(--card-background);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-deep: var(--primary-deep);
  --color-primary-muted: var(--primary-muted);
  --color-primary-foreground: var(--primary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);

  --color-blob-purple: var(--blob-purple);
  --color-blob-violet: var(--blob-violet);
  --color-blob-pink: var(--blob-pink);
  --color-blob-orange: var(--blob-orange);
}

@layer base {
  :root {
    --background: #ffffff;
    --background-hover: #e6ebef;
    --foreground: #111827;
    --foreground-muted: #11182799;

    --card-background: #f8fafc;
    --card-foreground: #111827;

    --primary: #8b5cf6;
    --primary-deep: #6a11cb;
    --primary-muted: #8b5cf6bf;
    --primary-foreground: #f9fafb;

    --accent: #ec4899;
    --accent-foreground: #f9fafb;

    --border: #d2d5d9;

    --blob-purple: #6a11cb;
    --blob-violet: #8b5cf6;
    --blob-pink: #ec4899;
    --blob-orange: #f97316;
  }

  .dark {
    --background: #020202;
    --background-hover: #1d1e20;
    --foreground: #f9fafb;
    --foreground-muted: #f9fafb99;

    --card-background: #0f172a;
    --card-foreground: #f9fafb;

    --primary: #a78bfa;
    --primary-deep: #8b5cf6;
    --primary-muted: #a78bfabf;
    --primary-foreground: #111827;

    --accent: #f472b6;
    --accent-foreground: #111827;

    --border: #161616;

    --blob-purple: #8b5cf6;
    --blob-violet: #a78bfa;
    --blob-pink: #f472b6;
    --blob-orange: #fb923c;
  }
}
