@import 'tailwindcss';
@plugin "@iconify/tailwind4";

@theme {
  --font-plex: 'IBM Plex Mono', monospace;
  --font-fira: 'Fira Code', monospace;

  --color-background: var(--background);
  --color-background-hover: var(--background-hover);
  --color-foreground: var(--foreground);

  --color-card-background: var(--card-background);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-deep: var(--primary-deep);
  --color-primary-foreground: var(--primary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
}

@layer base {
  :root {
    --background: #ffffff;
    --background-hover: #f1f4f6;
    --foreground: #111827;

    --card-background: #f8fafc;
    --card-foreground: #111827;

    --primary: #8b5cf6;
    --primary-deep: #6a11cb;
    --primary-foreground: #f9fafb;

    --accent: #ec4899;
    --accent-foreground: #f9fafb;

    --border: #e2e8f0;
  }

  .dark {
    --background: #0d0d10;
    --background-hover: #1d1e20;
    --foreground: #f9fafb;

    --card-background: #0f172a;
    --card-foreground: #f9fafb;

    --primary: #a78bfa;
    --primary-deep: #8b5cf6;
    --primary-foreground: #111827;

    --accent: #f472b6;
    --accent-foreground: #111827;

    --border: #35393e;
  }
}
